---
layout: default
---

<!-- begin hero -->
{% if site.hero.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{site.baseurl}}{{site.hero.image}}" alt="{{site.hero.title}}">
    </div>
    <div class="hero__content">
      <!-- Animated hero title -->
      <h1 class="hero__title" id="hero-name"></h1>
      <p class="hero__desc">{{site.hero.description}}</p>
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <!-- Animated hero title -->
      <h1 class="hero__title" id="hero-name"></h1>
      <p class="hero__desc">{{site.hero.description}}</p>
    </div>
  </div>
</section>
{% endif %}
<!-- end hero -->

<style>
  #hero-name {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  color: #FCFCFC;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding-right: 10px;
}

#hero-name::after {
  content: '|';
  position: absolute;
  right: 0;
  animation: blink 1s step-start infinite;
  color: #FCFCFC;
}


  @keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
  }
</style>

<script>
  const name = "Ryan O'Riordan";
  const heroName = document.getElementById("hero-name");
  let index = 0;
  let isDeleting = false;
  let speed = 150;

  function type() {
    if (!isDeleting) {
      heroName.textContent = name.slice(0, index + 1);
      index++;
      if (index === name.length) {
        isDeleting = true;
        speed = 1000;
      } else {
        speed = 150;
      }
    } else {
      heroName.textContent = name.slice(0, index - 1);
      index--;
      if (index === 0) {
        isDeleting = false;
        speed = 500;
      } else {
        speed = 100;
      }
    }
    setTimeout(type, speed);
  }

  type();
</script>

{% include featured-posts.html %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="row grid">
          {% if site.posts.size > 0 %}
            {% for post in paginator.posts %}
              {% include article-content.html %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}
